.gradle
/local.properties
.DS_Store
/build

# Eclipse
.classpath
.project
.settings/


# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/
dao_generator/build/tmp/
dao_generator/build/
drag_drop_recycler_view/build/
gradle.properties
