.gradle
/local.properties
.DS_Store
/build
gradle.properties

# Eclipse
.classpath
.project
.settings/


# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/

# Project
app/build/jacoco/testDebug.exec
app/build/outputs/logs/manifest-merger-debug-report.txt

# Project Libs
dao_generator/build/
drag_drop_recycler_view/build/
storage_helper/build/
safe_async_task/build/
enhanced_handler/build/
ui_utils/build/
